@page "/torrents"

<PageTitle>Torrents</PageTitle>

<h1>Torrents</h1>

@if (@TorrentsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Stalled</th>
                <th>Added</th>
                <th>Hash</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var torrent in @TorrentsList)
            {
                <tr>
                    <td>@torrent.Name</td>
                    <td>@torrent.IsStalled</td>
                    <td>@torrent.AddedDate</td>
                    <td>@torrent.HashString</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{}